<ng-template #agregar>
  <p class="ms-4"><strong>Agrega productos al carrito</strong></p>
</ng-template>

<!-- carrito.component.html -->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="dropdown">
        <button
          class="btn btn-light dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="../../../assets/gifs/icons8-carrito-de-compras.gif"
            alt=""
          />
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li>
            <table class="table text-center">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let platillo of myCart$ | async; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ platillo.nombre_del_platillo }}</td>
                  <td>{{ platillo.precio }}</td>
                  <td>{{ platillo.cantidad }}</td>
                  <td>{{ platillo.cantidad * platillo.precio }}</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li>
            <strong class="ms-4">Total: {{ totalCart() | currency }}</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
