<mat-stepper linear labelPosition="bottom" #stepper>
  <mat-step>
    <ng-template matStepLabel>Comanda</ng-template>
    <app-orden></app-orden>
    <div class="mt-4">
      <button class="btn btn-primary" matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>Pedido</ng-template>
    <app-comanda></app-comanda>
    <div class="mt-4">
      <button class="btn btn-success" (click)="getCompleto(); stepper.reset()">
        Finalizar
      </button>
    </div>
  </mat-step>
</mat-stepper>

<app-tablapedido></app-tablapedido>
