<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="assets/img/logo1.png"
        alt="Logo de Gustoes"
        style="width: 65px; height: auto"
      />
      Gustoes
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       
        
      
        <ng-container *ngIf="user">
          <a class="nav-link" routerLink="/menu">Menú</a>
          <a class="nav-link" routerLink="/carrrito">Carrito</a>
        </ng-container>
        
        <a class="nav-link" routerLink="/mapa">Mapa del sitio </a>
      </div>
    </div>
    <div class="search-container">
      <app-search></app-search>
  </div>

  <div class="user-container">
    <ng-container *ngIf="!user; else userName">
      <div class="dropdown">
        <button class="dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user">      </i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/register">Crear Cuenta</a></li>
          <li><a class="dropdown-item" href="/login">Iniciar Sesión</a></li>
        </ul>
      </div> 
    </ng-container>
  </div>
  
  
    <ng-template #userName>
      <!-- Avatar -->
      <div class="btn-group dropstart">
        <button
          type="button"
          class="btn btn-secondary dropdown-toggle rounded-circle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ user?.username | slice : 0 : 2 | uppercase }}
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <button class="dropdown-item" (click)="logout()">
              Cerrar Sesión
            </button>
          </li>
        </ul>
      </div>
    </ng-template>
  </div>
</nav>
