<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <form #comandasform="ngForm" (ngSubmit)="addComanda(comandasform)">
          <input
            type="hidden"
            name="idpedido"
            [(ngModel)]="comandaService.selectedComanda.idpedido"
          />
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              name="nombrecliente"
              placeholder="Nombre del cliente"
              [(ngModel)]="comandaService.selectedComanda.nombrecliente"
              required
            />
          </div>
          <div class="mb-3">
            <select
              class="form-select"
              name="status"
              [(ngModel)]="comandaService.selectedComanda.status"
              required
            >
              <option value="" disabled selected>Estatus</option>
              <option value="Pendiente">Pendiente</option>
              <option value="Pagado">Pagado</option>
            </select>
          </div>
          <div class="mb-3">
            <select
              class="form-select"
              name="tipopago"
              [(ngModel)]="comandaService.selectedComanda.tipopago"
              required
            >
              <option value="" disabled selected>Forma de pago</option>
              <option value="Efectivo">Efectivo</option>
              <option value="Tarjeta">Tarjeta</option>
            </select>
          </div>
          <div class="mb-3">
            <select
              class="form-select"
              name="propina"
              [(ngModel)]="comandaService.selectedComanda.propina"
              required
            >
              <option value="" disabled selected>Propina</option>
              <option value="0">0 %</option>
              <option value="5">5 %</option>
              <option value="10">10 %</option>
              <option value="15">15 %</option>
            </select>
          </div>
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              name="correo"
              placeholder="Correo Electrónico"
              [(ngModel)]="comandaService.selectedComanda.correo"
              required
            />
          </div>
          <div class="d-grid gap-2">
            <button
              class="btn btn-outline-primary"
              (click)="resetForm(comandasform)"
            >
              Limpiar
            </button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="table-responsive">
      <table class="table custom-table">
        <thead class="thead-light">
          <tr>
            <th>Numero de pedido</th>
            <th>Nombre del cliente</th>
            <th>Estatus</th>
            <th>Forma de pago</th>
            <th>Propina al mesero</th>
            <th>Correo del cliente</th>
            <th>Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Comanda of comandaService.comandas">
            <td>{{ Comanda.idpedido }}</td>
            <td>{{ Comanda.nombrecliente }}</td>
            <td>{{ Comanda.status }}</td>
            <td>{{ Comanda.tipopago }}</td>
            <td>{{ Comanda.propina }}</td>
            <td>{{ Comanda.correo }}</td>
            <td>
              <div class="btn-group" role="group">
                <button
                  class="btn btn-secondary btn-sm"
                  (click)="editComanda(Comanda)"
                >
                  <i class="material-icons">edit</i>
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="
                    Comanda.idpedido !== undefined
                      ? deleteComanda(Comanda.idpedido)
                      : null
                  "
                >
                  <i class="material-icons">delete</i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
