<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Comandas</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container py-4">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <form
                #comandasform="ngForm"
                (ngSubmit)="addComanda(comandasform)"
                class="needs-validation"
                novalidate
              >
                <input
                  type="hidden"
                  name="idpedido"
                  [(ngModel)]="comandaService.selectedComanda.idpedido"
                />

                <div class="form-group">
                  <label for="idComanda">No. Comanda</label>
                  <select
                    class="form-control"
                    name="idComanda"
                    [(ngModel)]="comandaService.selectedComanda.idComanda"
                  >
                    <option
                      *ngFor="let comanda of comandas"
                      [value]="comanda.idcomanda"
                    >
                      {{ comanda.idcomanda }}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="nombreCliente">Nombre del cliente</label>
                  <input
                    type="text"
                    class="form-control"
                    name="nombrecliente"
                    placeholder="Nombre cliente"
                    [(ngModel)]="comandaService.selectedComanda.nombrecliente"
                    required
                  />
                  <div class="invalid-feedback">
                    Por favor ingresa el nombre del cliente.
                  </div>
                </div>
                <div class="form-group">
                  <select
                    class="form-control"
                    name="alimentoconsumir"
                    [(ngModel)]="
                      comandaService.selectedComanda.alimentoconsumir
                    "
                  >
                    <option value="" disabled selected>Platillo</option>
                    <option
                      *ngFor="let platillo of platillos"
                      [value]="platillo.nombre_del_platillo"
                    >
                      {{ platillo.nombre_del_platillo }}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <input
                    type="number"
                    class="form-control"
                    name="cantidad"
                    placeholder="Cantidad"
                    [(ngModel)]="comandaService.selectedComanda.cantidad"
                  />
                </div>

                <div class="form-group">
                  <select
                    class="form-control"
                    name="bebida"
                    [(ngModel)]="comandaService.selectedComanda.bebida"
                  >
                    <option value="" disabled selected>Bebida</option>
                    <option
                      *ngFor="let bebida of bebidas"
                      [value]="bebida.nombre_del_platillo"
                    >
                      {{ bebida.nombre_del_platillo }}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <input
                    type="number"
                    class="form-control"
                    name="cantidadbebida"
                    placeholder="Cantidad de bebidas"
                    [(ngModel)]="comandaService.selectedComanda.cantidadbebida"
                  />
                </div>

                <div class="form-group">
                  <select
                    class="form-control"
                    name="status"
                    [(ngModel)]="comandaService.selectedComanda.status"
                    required
                  >
                    <option value="" disabled selected>Estatus</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Pagado">Pagado</option>
                  </select>
                </div>
                <div class="form-group">
                  <select
                    class="form-control"
                    name="tipopago"
                    [(ngModel)]="comandaService.selectedComanda.tipopago"
                    required
                  >
                    <option value="" disabled selected>Tipo pago</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta">Tarjeta</option>
                  </select>
                </div>
                <div class="form-group">
                  <select
                    class="form-control"
                    name="propina"
                    [(ngModel)]="comandaService.selectedComanda.propina"
                    required
                  >
                    <option value="" disabled selected>Propina</option>
                    <option value="5">5 %</option>
                    <option value="10">10 %</option>
                    <option value="15">15 %</option>
                  </select>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="correo"
                    placeholder="Correo Electronico"
                    [(ngModel)]="comandaService.selectedComanda.correo"
                    required
                  />
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <button
                      class="btn btn-primary btn-block"
                      (click)="resetForm(comandasform)"
                    >
                      Limpiar
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button type="submit" class="btn btn-secondary btn-block">
                      Guardar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
