.footer {
  background-color: rgba(
    119,
    177,
    121,
    0.5
  ); /* Color de fondo con transparencia */
  padding: 10px 20px; /* Espaciado interno */
  position: sticky; /* Hace que la barra de navegación sea pegajosa */
  top: 0; /* Posición inicial pegajosa */
  width: 100%; /* Ancho completo */
  z-index: 999; /* Z-index para estar por encima de otros elementos */
}

.footer h3 {
  color: #ffffff;
}

.footer p {
  color: #eae2e2;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #ffffff;
  font-size: 24px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #007bff;
}

.titulos {
  font-family: cursive;
  font-size: 30px;
  text-align: center;
}

.cardtext {
  font-family: cursive;
  font-size: 20px;
  line-height: 1.9;
  color: #0d0d0d;
  text-align: center;
}

.content {
  background-color: #071a11;
}
