.login {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #d8ffdc; /* Cambiar el color de fondo según lo deseado */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative; /* Añadir posición relativa para trabajar con la imagen de fondo */
  overflow: hidden; /* Ocultar cualquier desbordamiento */
}

/* Añadir imagen de fondo */
.login:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/img/logo1.png); /* Cambiar 'ruta-de-tu-imagen.jpg' por la URL de tu imagen */
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Aplicar desenfoque a la imagen de fondo */
}

.form-group {
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field-wrapper {
  border-radius: 5px;
  background-color: #ffffff; /* Cambiar el color de fondo del campo de formulario según lo deseado */
}

.mat-input-element {
  color: #333333;
}

.mat-label {
  color: #666666;
}

.mat-error {
  color: #ff0000;
}

button[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s; /* Añadir transición suave al color de fondo del botón */
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button[type="submit"]:focus {
  outline: none;
}

/* Añadir animación de desplazamiento */
.login {
  animation: slide-up 0.5s ease forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
