<div style="text-align: center;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" *ngFor="let crumb of breadcrumbs">
          <a [routerLink]="crumb.url">{{ crumb.label }}</a>
        </li>
      </ol>
    </nav>
  </div>

  <div class="card-body" style="margin-bottom: 30px;">
    <p class="titulo">Nueva Reservación</p>
    <form #reservacionForm="ngForm" (ngSubmit)="addReservacion(reservacionForm)">
        <div class="form-group">
          <label for="feha">Fecha de reservación</label>
            <input type="text" class="form-control" name="fecha_reserva" placeholder="Fecha de reserva" [(ngModel)]="reservacionesService.selectedReservacion.fecha_reserva">
        </div>
        <div class="form-group">
          <label for="mesa">Elige el número de mesa </label>
          <select class="form-control" name="numero_mesa" [(ngModel)]="reservacionesService.selectedReservacion.numero_mesa">
              <option value="1">Mesa 1</option>
              <option value="2">Mesa 2</option>
              <option value="3">Mesa 3</option>
              <option value="4">Mesa 4</option>
          </select>
      </div>
      
        <div class="form-group">
          <label for="personas"> Número de personas</label>
            <input type="number" class="form-control" name="numero_personas" placeholder="Número de personas" [(ngModel)]="reservacionesService.selectedReservacion.numero_personas">
        </div>
        <div class="form-group">
          <label for="motivo"> Motivo de la reservación</label>
          <select class="form-control" name="motivo_reserva" [(ngModel)]="reservacionesService.selectedReservacion.descripcion">
              <option value="Aniversario">Aniversario</option>
              <option value="Cumpleaños">Cumpleaños</option>
              <option value="Reunión de negocios">Reunión de negocios</option>
              <option value="Celebración familiar">Celebración familiar</option>
              <option value="Celebración familiar">Otro</option>
          </select>
      </div>
      
        <button type="reset" class="btn btn-primary mr-2">Limpiar</button>
        <button type="submit" class="btn btn-secondary">Guardar</button>
    </form>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>
<div *ngIf="successMessage" class="alert alert-success">
  {{ successMessage }}
</div>

