<div style="text-align: center;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" *ngFor="let crumb of breadcrumbs">
          <a [routerLink]="crumb.url">{{ crumb.label }}</a>
        </li>
      </ol>
    </nav>
  </div>

<div class=" card-body" style="margin-bottom: 30px;" >
    <p class="titulo"> Nueva Reservación</p>
    <form #pedidoForm="ngForm" (ngSubmit)="addPedido(pedidoForm)">
        <div class="form-group">
            <input type="text" class="form-control" name="alimentoconsumir" placeholder="alimentoconsumir" [(ngModel)]="reservacionService.selectedPedido.alimentoconsumir">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="cantidad" placeholder="cantidad" [(ngModel)]="reservacionService.selectedPedido.cantidad">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="precioalimento" placeholder="precioalimento" [(ngModel)]="reservacionService.selectedPedido.precioalimento">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="bebida" placeholder="bebida" [(ngModel)]="reservacionService.selectedPedido.bebida">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="cantidadbebida" placeholder="cantidadbebida" [(ngModel)]="reservacionService.selectedPedido.cantidadbebida">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="preciobebida" placeholder="preciobebida" [(ngModel)]="reservacionService.selectedPedido.preciobebida">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="tipo de pago" placeholder="tipopago" [(ngModel)]="reservacionService.selectedPedido.tipopago">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="propina" placeholder="propina" [(ngModel)]="reservacionService.selectedPedido.propina">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="numeromesa" placeholder="numeromesa" [(ngModel)]="reservacionService.selectedPedido.numeromesa">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="estatus" placeholder="estatus" [(ngModel)]="reservacionService.selectedPedido.estatus">
        </div>
          <div class="form-group">
            <input type="text" class="form-control" name="total" placeholder="alimentoconsumir" [(ngModel)]="reservacionService.selectedPedido.total">
        </div>
        <button class="btn btn-primary mr-2">Limpiar</button>
        <button class="btn btn-secondary">Guardar</button>
    </form>

</div>