<section class="p-4">
    <div class="container-fluid h-custom">
      <div
        class="row d-flex justify-content-center align-items-center h-100 rounded p-5"
        style="background-color: #fff"
      >
        <div class="col-md-9 col-lg-6 col-xl-5">
          <!-- Aquí puedes colocar una imagen o cualquier otro contenido -->
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form (submit)="resetPassword()">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input
                type="email"
                formControlName="email"
                id="resetEmail"
                class="form-control form-control-lg"
                placeholder="Introduce tu correo electrónico"
              />
              <label class="form-label" for="resetEmail"
                >Correo Electrónico</label
              >
            </div>

          
            <!-- New Password input -->
            <div data-mdb-input-init class="form-outline mb-3">
              <input
                type="password"
                formControlName="newPassword"
                id="resetNewPassword"
                class="form-control form-control-lg"
                placeholder="Introduce tu nueva contraseña"
              />
              <label class="form-label" for="resetNewPassword">Nueva Contraseña</label>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button
                type="submit"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
              >
                Restablecer Contraseña
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


