.menu-card {
  border: 1px solid #e9ecef;
  background-color: rgba(119, 177, 121, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 20px 0;
}

.menu-header p {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-family: cursive;
  font-size: 20px;
  text-align: center;
  color: #77b179;
}

.card-text {
  font-family: cursive;
    font-size: 15px;
    line-height: 1.9;
    color: #0d0d0d;
    text-align: center;
}

.button-group {
  display: flex;
  justify-content: space-around; /* Modificado para centrar los botones */
  margin-top: 10px;
}

.button-group button {
  flex: 1;
  border-radius: 20px;
  background-color: #77b179;
}

.color{
  background-color: #77b179;
}

.btn-secondary, .btn-danger, .btn-success {
  padding: 5px 10px; /* Ajuste del padding */

}

.btn-secondary:hover, .btn-danger:hover, .btn-success:hover {
  opacity: 0.9;
}

.titulo{
  font-family: cursive;
  font-size: larger;
  text-align: center;
  color: #fff;
}




/* Estilos para las migas de pan */
.breadcrumb {
  
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.breadcrumb-item {
  display: inline-block;
  margin-right: 0.5rem;
}

.breadcrumb-item:last-child {
  font-weight: 700;
  color: #d8ffdc; /* Color del último elemento */
}

.breadcrumb-item:not(:last-child)::after {
  content: '>';
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #d8ffdc; /* Color del separador */
}

.breadcrumb-item a {
  color: #d8ffdc; /* Color de los enlaces */
  text-decoration: none;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}
